# OS / editor
.DS_Store
Thumbs.db
*.swp
*.swo
*.log
*.tmp
*.iml
.idea/
.vscode/

# Dart / Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/
doc/api/

# Flutter generated
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugins.cmake
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json
